body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}
single-inventory:hover .dropdown {
  opacity: 1;
  display: block;
  top: 100%;
}

.dropdown {
  transition: all 0.3s ease;
  animation: growDown 300ms ease-out forwards;
  transform-origin: top center;
  position: absolute;
  top: 100%;
}

/* @keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
} */
/* 
@keyframes fade {
  from {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
  }
} */

/* @keyframes slideInDown {
  0% {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
} */

/* .dropdown {
  animation: 1s ease-out 0s 1 slideInDown;
} */

/* .dropdown {
  animation: translateX 1s ease-out;
} */
